<h1>Change Password</h1>
<form class="form-horizontal"
      name="changePasswordForm"
      novalidate
      ng-controller="AuthenticationController as vm">
  <fieldset>

    <div class="form-group"
         ng-class="{'has-error':changePasswordForm.inputOldPassword.$invalid &&
                                    changePasswordForm.inputOldPassword.$dirty}">
      <label class="col-md-2 control-label" for="inputOldPassword">Old Password</label>

      <div class="col-md-4">
        <input class="form-control"
               id="inputOldPassword"
               name="inputOldPassword"
               type="password"
               placeholder="Old Password (required)"
               ng-model="vm.user.OldPassword"
               required>
      </div>
      <span class="help-block has-error"
            ng-show="changePasswordForm.inputOldPassword.$invalid ">
        Your current password is required
      </span>
    </div>

    <div class="form-group"
         ng-class="{'has-error':changePasswordForm.inputNewPassword.$invalid &&
                                    changePasswordForm.inputNewPassword.$dirty}">
      <label class="col-md-2 control-label" for="inputNewPassword">New Password</label>

      <div class="col-md-4">
        <input class="form-control"
               id="inputNewPassword"
               name="inputNewPassword"
               type="password"
               placeholder="New Password (required)"
               ng-model="vm.user.NewPassword"
               required>
      </div>
      <span class="help-block has-error"
            ng-show="changePasswordForm.inputNewPassword.$invalid ">
        A new password is required
      </span>
    </div>

    <div class="form-group"
         ng-class="{'has-error':changePasswordForm.inputConfirmPassword.$invalid}">
      <label class="col-md-2 control-label" for="inputConfirmPassword">Confirm Password</label>

      <div class="col-md-4">
        <input class="form-control"
               id="inputConfirmPassword"
               name="inputConfirmPassword"
               type="password"
               placeholder="Confirm Password (required)"
               ng-model="vm.user.ConfirmPassword"
               compare-to="vm.user.NewPassword">
      </div>
      <span class="help-block has-error"
            ng-show="changePasswordForm.inputConfirmPassword.$invalid">
        New passwords do not match
      </span>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  style="width:80px;margin-right:10px"
                  ng-click="vm.changePassword()"
                  ng-disabled="changePasswordForm.$invalid">
            Save
          </button>
        </span>
      </div>
    </div>

    <div class="form-group"
         ng-show="vm.message">
      <div class="col-md-6">
        <pre style="font: inherit">{{vm.message }}</pre>
      </div>
    </div>

  </fieldset>
</form>