    <h2>Please Log In</h2>
    <form class="form-horizontal"
          name="loginForm"
          novalidate
          ng-controller="AuthenticationController as vm">
      <fieldset>
        <div class="form-group"
             ng-class="{'has-error':loginForm.inputEmail.$invalid &&
                                    loginForm.inputEmail.$dirty}">
          <label class="col-md-2 control-label"
                 for="inputEmail">Email</label>

          <div class="col-md-4">
            <input class="form-control"
                   id="inputEmail"
                   name="inputEmail"
                   type="email"
                   placeholder="Email (required)"
                   ng-model="vm.userData.email"
                   required
                   ng-minlength="6"
                   ng-maxlength="250" />
          </div>
          <span class="help-block has-error">
            <span ng-show="loginForm.inputEmail.$error.required">
              Email address is required.
            </span>
            <span ng-show="loginForm.inputEmail.$error.minlength">
              Email address must be at least 6 characters in length.
            </span>
            <span ng-show="loginForm.inputEmail.$error.maxlength">
              Email Address cannot exceed 250 characters in length.
            </span>
          </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':loginForm.inputPassword.$invalid &&
                                    loginForm.inputPassword.$dirty}">
          <label class="col-md-2 control-label" for="inputPassword">Password</label>

          <div class="col-md-4">
            <input class="form-control"
                   id="inputPassword"
                   name="inputPassword"
                   type="password"
                   placeholder="Password (required)"
                   ng-model="vm.userData.Password"
                   required>
          </div>
          <span class="help-block has-error"
                ng-show="loginForm.inputPassword.$invalid ">
            A password is required
          </span>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      style="width:80px;margin-right:10px"
                      ng-click="vm.login()"
                      ng-disabled="loginForm.$invalid">
                Login
              </button>
            </span>
          </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
          <div class="col-md-6">
            <pre style="font: inherit">{{vm.message }}</pre>
          </div>
        </div>

      </fieldset>
    </form>
